In [1]:
# Imports
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from keras.models import Sequential
from keras.layers import Dense
from keras import regularizers
import pydot
from IPython.display import SVG
from keras.utils.vis_utils import model_to_dot

In [2]:
# Calling in data, splitting, and scaling
data = pd.read_csv('mma_data.csv', index_col=0)
data = data[data.result!=-2]
# data.drop(['fighter_1', 'fighter_2'], axis = 1, inplace = True)
# x, y = data.iloc[:, :-1], data.iloc[:, -1]
# x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)
# scaler = StandardScaler()
# x_train_scaled = scaler.fit_transform(x_train)
# x_test_scaled = scaler.transform(x_test)

In [3]:
data

,fighter_1,weight_1,reach_1,age_1,slpm_1,sapm_1,td_avg_1,sub_avg_1,strk_acc_1,strk_def_1,...,sapm_2,td_avg_2,sub_avg_2,strk_acc_2,strk_def_2,td_acc_2,td_def_2,wins_2,losses_2,result
0,DerrickLewis,260,79,36,2.59,2.16,0.52,0.0,50,44,...,2.60,0.82,0.3,54,63,21,0,9,0,0
1,JoseAldo,135,70,35,3.45,3.52,0.57,0.1,45,61,...,5.87,0.68,0.8,43,58,21,80,19,5,1
2,MichaelChiesa,170,75,34,1.89,1.71,3.60,0.9,40,54,...,5.78,0.66,0.9,54,52,50,65,20,7,0
4,SongYadong,135,67,24,4.35,3.64,0.59,0.4,42,57,...,4.30,1.10,0.5,42,59,39,59,16,3,1
5,BobbyGreen,155,10,35,5.17,3.32,1.56,0.3,51,63,...,4.17,0.84,0.0,57,55,50,0,9,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,HakeemDawodu,145,73,31,4.72,2.39,0.00,0.0,46,62,...,2.36,0.29,0.9,53,58,50,71,10,1,1
236,ChidiNjokuani,185,80,34,3.54,1.47,0.00,0.0,70,59,...,4.94,0.35,0.0,46,56,25,70,13,4,1
238,JailtonAlmeida,205,79,31,0.29,1.03,6.60,2.2,25,12,...,1.88,4.26,0.8,79,56,28,0,11,3,1
239,JasonWitt,170,10,36,2.63,3.10,6.46,1.3,49,50,...,4.54,0.87,0.0,56,52,33,50,8,3,0
240,MalcolmGordon,125,71,32,2.40,2.40,1.47,0.0,46,46,...,0.00,0.00,0.0,0,0,0,0,16,3,1